* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     overflow: hidden; /* Hide scrollbars */
}

.main-box {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

}
.section-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}
.spline-config {
    width: 1000px;
    height: 800px;
   

}